@model PagedList.IPagedList<MarketingOnline.Models.news>
@using PagedList.Mvc; 
@{
    ViewBag.title = "Tin tức marketing online, thiết kế website, content marketing";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    string keyword = "";
}
<section id="blog" class="container" >
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 wow fadeInDown">
                            <div class="tab-content">
                                @foreach (var item in Model)
                                {
                                    var link = "/" + MarketingOnline.Config.unicodeToNoMark(item.title) + "-" + item.id;
                                    if (item.keywords != null && item.keywords != "") 
                                        {
                                            string[] temp = item.keywords.ToString().Split(',');
                                            for (int l = 0; l < temp.Length; l++) {
                                                keyword += "<li><a class=\"btn btn-xs btn-primary\" href=\"\\tin\\" + temp[l] + "-1\">" + temp[l] + "</a></li>";
                                            }
                                        }
                                    <text>
                                        <div class="col-xs-12" style="margin-bottom:10x;margin-top:10px;">
                                            <div class=" media">
                                                <div class="pull-left">
                                                    <a href="@link"><img class="img-responsive" src="@item.image"></a>
                                                </div>
                                                <div class="media-body">
                                                    <a href="@link"><h2>@item.title</h2></a>
                                                    <p>@item.des</p>
                                                </div>
                                            </div>
                                        </div>
                                    </text>
                                }
                            </div>
                        </div>
                    </div>
                </div><!--/.blog-item-->
                <ul class="pagination pagination-lg">  
                    <li><a href="#">Trang:</a></li>
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        if (i != ViewBag.page)
                        {
                            <text>
                                <li><a href="/tin/all-@i">@i</a></li></text>
                        }
                        else
                        {
                            <text>
                                <li><a href="/tin/all-@i" class="active" style="background-color: #c52d2f;border-color: #c52d2f;color:#fff;">@i</a></li></text>
                        }
                    }                
                   
                </ul><!--/.pagination-->
            </div><!--/.col-md-8-->
            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                        <input type="text" class="form-control search_box" autocomplete="off" placeholder="Gõ tìm kiếm">
                    </form>
                </div><!--/.search-->
                @*<div class="widget categories">
                        <h3>Danh mục</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="blog_category">
                                    <li><a href="#">Computers <span class="badge">04</span></a></li>
                                    <li><a href="#">Smartphone <span class="badge">10</span></a></li>
                                    <li><a href="#">Gedgets <span class="badge">06</span></a></li>
                                    <li><a href="#">Technology <span class="badge">25</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>*@<!--/.categories-->
                
                <div class="widget tags">
                        <h3>Từ khóa</h3>
                        <ul class="tag-cloud">
                            @Html.Raw(@keyword)
                        </ul>
                </div><!--/.tags-->
            </aside>
        </div><!--/.row-->
    </div><!--/.blog-->
</section><!--/#blog-->

